
<div class="countainer">
    <div class="row">
        <div class="col s12 l12 m12">
            <ul id="dropdown2" class="dropdown-content">
                <li>
                    <a ng-click="events.changeEmail()" href="javascript:void(0)">Смена почты</a>
                    <a class="modal-trigger" href="#modalChangePasswordBider">Смена пароля</a>
                </li>
            </ul>
            <nav>
                <div class="nav-wrapper">
                    <a href="#!" class="brand-logo">Logo</a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a class="modal-trigger" href="#modalAddProfile" href="javascript:void(0)">Добавить профиль</a></li>
                        <li><a class="modal-trigger" href="#modalAddBider">Добавить бидера</a></li>
                        <li><a ng-click="events.form()" href="javascript:void(0)">Форма</a></li>
                        <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Настройки<i class="material-icons right">arrow_drop_down</i></a></li>
                        <li><a ng-click="events.logout()" href="javascript:void(0)">Выйти</a></li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li><a ng-click="events.addNewProfile()" href="javascript:void(0)">Добавить профиль</a></li>
                        <li><a ng-click="events.addNewBider()" href="javascript:void(0)">Добавить бидера</a></li>
                        <li><a ng-click="events.form()" href="javascript:void(0)">Форма</a></li>
                        <li><a ng-click="events.logout()" href="javascript:void(0)">Выйти</a></li>
                    </ul>
                </div>
            </nav>
            <table class="bordered  highlight" >
                <thead>
                <tr>
                    <th data-field="number">№</th>
                    <th data-field="Date">Дата</th>
                    <th data-field="bider">Бидер</th>
                    <th data-field="profile">Профили</th>
                    <th data-field="colVo">Ссылки на биды</th>
                    <th data-field="linkBid">Текст бида</th>
                    <th data-field="comments">Был ли ответ?</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in reportsObj" on-finish-render="endRepeatAdmin()">
                    <td>{{$index + 1}}</td>
                    <td>{{item.dates}}</td>
                    <td>{{item.nameBider}}</td>
                    <!--<td>
                        <div class="chip" ng-repeat="item in item.profiles">
                            {{item}}
                        </div>
                    </td>-->
                    <td>
                        <div class="chip" >
                            {{item.profiles}}
                        </div>
                    </td>
                    <td>
                        <a href="{{item.countBild}}">Перейти</a>
                    </td>
                    <td>
                        <div id="modal{{$index + 10000}}" class="modal modal-fixed-footer">
                            <div class="modal-content">
                                <h4>Текст бида</h4>
                                <p style=" white-space: pre-line; ">{{item.linkOnBid}}</p>
                            </div>
                        </div>
                        <a class="modal-trigger waves-effect waves-light btn" href="#modal{{$index + 10000}}">Смотреть</a>
                    </td>
                    <td>
                        <p>{{item.comments}}</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--Modal change password-->
<div id="modalChangePasswordBider" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Смена пароля</h4>
        <br>
        <div class="row">
            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s3"><a class="active" href="#myself">Сменить пароль себе</a></li>
                        <li class="tab col s3"><a  href="#biderspass">Сменить пароль бидеру</a></li>
                    </ul>
                </div>
                <div class="col s12"><br></div>
                <div id="myself" class="col s12">
                    <form class="col s12" name="changePassword()" role="form" novalidate ng-submit="changePassword()">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">lock</i>
                                <input id="icon_prefix" type="password" class="validate" ng-model="changePassword.oldPassword" ng-minlength="1" name="oldPassword">
                                <label for="icon_prefix">Старый пароль</label>
                            </div>
                            <div class="input-field col s12"><br></div>

                            <div class="input-field col s12">
                                <i class="material-icons prefix">lock</i>
                                <input id="icon_telephone" type="password" class="validate" ng-model="changePassword.newPassword"  ng-minlength="1" name="newPassword">
                                <label for="icon_telephone">Новый пароль</label>
                            </div>
                            <div class="input-field col s12">
                                <p style='float:left' class="invalidFormAuth " >{{changePasswordAlert}}</p>
                                <button ng-disabled="!changePassword.oldPassword || !changePassword.newPassword" class="right autorizationButton waves-effect waves-light btn-large" >
                                    <i class="material-icons left">input</i>подтвердить
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div id="biderspass" class="col s12">
                    <form class="col s12" name="changePassword()" role="form" novalidate ng-submit="changePasswordBider()">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="material-icons prefix">email</i>
                                <input id="icon_prefix" type="email" class="validate" ng-model="changePassword.email" ng-minlength="1" name="email">
                                <label for="icon_prefix">Email бидера</label>
                            </div>

                            <div class="input-field col s12"><br></div>

                            <div class="input-field col s12">
                                <i class="material-icons prefix">lock</i>
                                <input id="icon_prefix" type="password" class="validate" ng-model="changePassword.oldPassword" ng-minlength="1" name="oldPassword">
                                <label for="icon_prefix">Старый пароль</label>
                            </div>
                            <div class="input-field col s12"><br></div>

                            <div class="input-field col s12">
                                <i class="material-icons prefix">lock</i>
                                <input id="icon_telephone" type="password" class="validate" ng-model="changePassword.newPassword"  ng-minlength="1" name="newPassword">
                                <label for="icon_telephone">Новый пароль</label>
                            </div>
                            <div class="input-field col s12">
                                <p style='float:left' class="invalidFormAuth " >{{changePasswordAlert}}</p>
                                <button ng-disabled="!changePassword.oldPassword || !changePassword.newPassword || !changePassword.email" class="right autorizationButton waves-effect waves-light btn-large" >
                                    <i class="material-icons left">input</i>подтвердить
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal add profile-->
<div id="modalAddProfile" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Добавить профиль</h4>
        <form class="col s12" name="changePassword()" role="form" novalidate ng-submit="addNewProfile()">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">perm_identity</i>
                    <input id="nameProf" type="text" class="validate" ng-model="addProfile.name" ng-minlength="1" name="nameProfile">
                    <label for="nameProf">Имя (латиницей)</label>
                </div>

                <div class="input-field col s12"><br></div>
                <div class="input-field col s12">
                    <i class="material-icons prefix">perm_identity</i>
                    <input id="photoProf" type="text" class="validate" ng-model="addProfile.profilePhoto" ng-minlength="1" name="photoProfile">
                    <label for="photoProf">Ссылка на фото профиля</label>
                </div>

                <div class="input-field col s12"><br></div>
                <div class="input-field col s12">
                    <button ng-disabled="!addProfile.name || !addProfile.profilePhoto" class="right autorizationButton waves-effect waves-light btn-large" >
                        <i class="material-icons left">input</i>подтвердить
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--Modal add profile-->
<div id="modalAddBider" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Добавить профиль</h4>
        <form class="col s12" name="changePassword()" role="form" novalidate ng-submit="AddBider()">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input id="emailBid" type="email" class="validate" ng-model="AddBider.emailBid" ng-minlength="1" name="emailBid">
                    <label for="emailBid">Email бидера</label>
                </div>

                <div class="input-field col s12"><br></div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input id="nameLastName" type="text" class="validate" ng-model="AddBider.nameLastName" ng-minlength="1" name="nameLastName">
                    <label for="nameLastName">Имя, Фамилия</label>
                </div>
                <div class="input-field col s12"><br></div>

                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input id="passwordBid" type="text" class="validate" ng-model="AddBider.passwordBid"  ng-minlength="1" name="passwordBid">
                    <label for="passwordBid">Пароль</label>
                </div>
                <div class="input-field col s12">
                    <p style='float:left' class="invalidFormAuth " >{{changePasswordAlert}}</p>
                    <button ng-disabled="!AddBider.emailBid || !AddBider.nameLastName || !AddBider.passwordBid" class="right autorizationButton waves-effect waves-light btn-large" >
                        <i class="material-icons left">input</i>подтвердить
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>